// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$pink: #d03656;
$white: #fff;
$black: #222222;
$grey: #999999;
$purple:#8262b5;
$background: #f5f4ec;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$monster:'Montserrat',
sans-serif;
$pacifico: 'Pacifico',
cursive;
$open:'Open Sans',
sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;