html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.3; }

* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: bold; }

h1 {
  color: #fff;
  font-weight: normal;
  margin: 0; }

h2 {
  font-weight: normal;
  margin: 0; }

h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

h6 {
  color: #d03656; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
.btn {
  text-transform: uppercase; }

.wrapper {
  max-width: 100%;
  overflow: hidden; }

.headerTop {
  position: fixed;
  width: 100%;
  z-index: 999; }

.header {
  transition: 0.5s;
  background-color: white;
  border-bottom: 1px solid #c0c0c093;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; }
  .header__logo {
    letter-spacing: 13px;
    border: 2px solid #000;
    font-weight: bold;
    color: black; }
    .header__logo h2 {
      font-size: 2rem;
      padding: 1rem 1.4rem; }
  .header nav {
    display: flex;
    justify-content: center;
    flex: 1; }
  .header__menu {
    padding: 3.5rem 0 3.3rem 0rem;
    display: flex; }
    .header__menu .menu--list a {
      padding: 1.3rem 2.8rem;
      color: black;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 14px; }
  .header__cart {
    display: flex;
    align-items: center;
    font-size: 2.8rem; }
    .header__cart li {
      padding: 0 0.5rem; }

@media only screen and (min-width: 1200px) {
  .header {
    padding: 0 3rem; }

  .container {
    max-width: 1170px; } }
@media only screen and (min-width: 992px) {
  .headerTop .navMenu {
    background-color: #222222; }

  .navMenu .header__cart {
    color: white; }
  .navMenu .header__menu .menu--list a {
    color: white; }
  .navMenu .header__logo {
    border: 2px solid white;
    color: white; } }
@media only screen and (max-width: 1199px) {
  .header__logo {
    letter-spacing: 8px; }
    .header__logo h2 {
      font-size: 1.6rem;
      padding: 1rem 1.1rem; }
  .header__menu .menu--list a {
    padding: 1.2rem 1.5rem; }
  .header__cart {
    font-size: 2rem; } }
@media only screen and (max-width: 1023px) {
  .header__logo {
    letter-spacing: 8px; }
  .header__menu .menu--list a {
    font-size: 12px;
    padding: 1.2rem 0.8rem; } }
.humberger {
  display: none; }

@media only screen and (max-width: 991px) {
  .header {
    position: relative;
    background-color: #222222;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem; }
    .header__logo {
      border: 2px solid white;
      color: white; }
    .header .header__menu {
      border-top: 1px solid white;
      left: 0;
      position: absolute;
      top: 100%;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      width: 100%;
      flex-direction: column;
      background-color: #222222;
      transition: all ease-in 0.3s; }
      .header .header__menu .menu--list {
        padding: 1rem 0.2rem; }
      .header .header__menu .menu--list a {
        padding: 2rem 2.5rem;
        color: white; }
    .header .show__menu {
      padding: 3.3rem 0;
      max-height: 100vh; }
    .header .header__cart {
      position: absolute;
      right: 1rem;
      top: 50%;
      color: white;
      transform: translateY(-50%); }
      .header .header__cart .humber svg {
        font-size: 2.5rem; }
      .header .header__cart .humber .humberger {
        cursor: pointer;
        display: block; } }
.banner {
  padding: 3rem 0;
  padding-top: 11.6rem; }
  .banner img {
    display: block; }
  .banner__ads1 {
    position: relative; }
    .banner__ads1 .banner__overlay1 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 9.5rem; }
      .banner__ads1 .banner__overlay1 .overlay1--text {
        padding-top: 15.5rem; }
        .banner__ads1 .banner__overlay1 .overlay1--text h1 {
          font-size: 3rem;
          color: black;
          font-weight: bold;
          font-family: "Pacifico", cursive; }
        .banner__ads1 .banner__overlay1 .overlay1--text .banner__btn {
          padding-top: 2.7rem;
          text-align: right; }
          .banner__ads1 .banner__overlay1 .overlay1--text .banner__btn a {
            padding: 1.1rem 1.9rem;
            font-size: 14px;
            background-color: #8262b5;
            color: white; }
  .banner__ads2 {
    font-family: "Montserrat", sans-serif;
    position: relative;
    margin-bottom: 3rem; }
    .banner__ads2 .banner__overlay2 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding-left: 5.5rem; }
      .banner__ads2 .banner__overlay2 h3 {
        letter-spacing: 4px;
        padding-top: 1rem;
        font-weight: 500;
        font-size: 1.6rem; }
      .banner__ads2 .banner__overlay2 h2 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem; }
  .banner__ads3 {
    position: relative; }
    .banner__ads3 .banner__overlay3 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      padding-left: 3.9rem;
      padding-bottom: 1rem; }
      .banner__ads3 .banner__overlay3 h3 {
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 1;
        letter-spacing: 3px; }
      .banner__ads3 .banner__overlay3 h2 {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2.1rem;
        line-height: 0.8; }
      .banner__ads3 .banner__overlay3 .banner__btn {
        padding-top: 3rem; }
        .banner__ads3 .banner__overlay3 .banner__btn a {
          padding: 1rem 2.1rem;
          font-size: 14px;
          background-color: #8262b5;
          color: white; }

@media only screen and (max-width: 991px) {
  .banner {
    padding-top: 7rem; }
    .banner .banner__ads1 {
      padding-bottom: 2rem; }
    .banner__ads1 .banner__overlay1 {
      padding-right: 5rem; }
      .banner__ads1 .banner__overlay1 .overlay1--text {
        padding-top: 3rem; }
        .banner__ads1 .banner__overlay1 .overlay1--text h1 {
          font-size: 2.2rem;
          color: black;
          font-weight: bold;
          font-family: "Pacifico", cursive; } }
.featured {
  padding-bottom: 2.5rem;
  font-family: "Montserrat", sans-serif; }
  .featured__title {
    padding-top: 4.7rem;
    padding-bottom: 4.8rem; }
    .featured__title h5 {
      letter-spacing: 3px;
      font-size: 12px;
      color: #8262b5;
      padding-bottom: 0.5rem; }
    .featured__title h2 {
      letter-spacing: 2px;
      padding-bottom: 2.2rem;
      font-size: 2.5rem;
      color: black; }
  .featured__line {
    height: 2px;
    width: 5rem;
    background-color: #8262b5; }
  .featured__img {
    position: relative; }
    .featured__img img {
      display: block; }
    .featured__img .featured__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end; }
      .featured__img .featured__overlay--text {
        padding-left: 0.8rem; }
        .featured__img .featured__overlay--text h4 {
          cursor: pointer;
          font-size: 12px;
          padding: 1.2rem 1.7rem;
          background-color: white; }
          .featured__img .featured__overlay--text h4:hover {
            color: #8262b5; }
  .featured__card--text {
    padding: 1.8rem 0 3.7rem 0; }
    .featured__card--text h5 {
      text-transform: lowercase;
      font-size: 15px;
      font-family: "Open Sans", sans-serif; }
  .featured__star {
    padding: 0.6rem 0 1.1rem 0;
    display: flex; }
    .featured__star li svg {
      font-size: 12px; }
    .featured__star li path {
      color: #face6d; }
    .featured__star li:last-child path {
      color: #000000; }
  .featured__price {
    display: flex; }
    .featured__price li h4 {
      padding-right: 0.3rem;
      font-size: 1.6rem;
      color: #999999;
      text-decoration: line-through #999999; }
    .featured__price li h5 {
      font-size: 1.6rem;
      color: #8262b5; }

@media only screen and (max-width: 991px) {
  .featured__card {
    padding: 0 3.5rem; } }
.news {
  background-image: url(../images/bg.png);
  padding: 8.5rem 0 6.8rem 0; }
  .news__title {
    text-align: center;
    padding-bottom: 5.5rem; }
    .news__title h5 {
      letter-spacing: 5px;
      font-size: 13px;
      color: #8262b5; }
    .news__title h2 {
      padding: 0.3rem 0 2rem 0;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2.4rem;
      word-spacing: 3px;
      letter-spacing: 2px; }
  .news__line {
    margin: 0 auto;
    width: 5rem;
    height: 2px;
    background-color: #8262b5; }
  .news__card {
    background-color: white; }
    .news__card .news__info {
      padding: 1.2rem 2rem 0.8rem 2rem;
      border-bottom: 1px solid #9999994d; }
      .news__card .news__info h4 {
        cursor: pointer;
        font-size: 1.6rem;
        text-transform: lowercase; }
        .news__card .news__info h4::first-letter {
          text-transform: uppercase; }
        .news__card .news__info h4:hover {
          color: #8262b5; }
      .news__card .news__info p {
        color: #424242;
        line-height: 1.5;
        padding-top: 1.5rem;
        font-size: 15px; }
    .news__card .news__coments {
      display: flex;
      font-size: 14px;
      color: #999999;
      padding: 1.2rem 2rem; }
      .news__card .news__coments li {
        font-weight: 500;
        display: flex;
        padding: 0.3rem;
        padding-right: 2.2rem; }
        .news__card .news__coments li h4 {
          margin-left: 0.2rem; }
  .news .owl-theme .owl-dots {
    padding-top: 1rem; }
  .news .owl-theme .owl-dots .owl-dot.active span,
  .news .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #8262b5;
    transform: scale(1.3); }

.footer {
  padding-top: 5.4rem;
  background-color: #222222;
  color: white; }
  .footer__about {
    padding-bottom: 4.4rem; }
    .footer__about--title {
      padding-bottom: 2.8rem;
      border-bottom: 1px solid #888888; }
      .footer__about--title h2 {
        font-size: 1.7rem; }
    .footer__about p {
      padding-top: 2.2rem;
      color: #888888;
      line-height: 1.5;
      font-size: 15px; }
    .footer__about--social {
      padding-top: 2.8rem;
      display: flex;
      font-size: 1.6rem; }
      .footer__about--social li {
        padding-right: 3rem; }
        .footer__about--social li path {
          color: #888888; }
  .footer__nav--title {
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #888888; }
    .footer__nav--title h2 {
      font-size: 1.6rem; }
  .footer__nav .footer__list {
    padding-top: 2.8rem;
    display: flex; }
    .footer__nav .footer__list ul li {
      padding-bottom: 1.2rem;
      font-size: 14px;
      color: #888888; }
    .footer__nav .footer__list .footer__list--left {
      padding-right: 12rem; }
  .footer__shop--title {
    padding-bottom: 2.8rem;
    border-bottom: 1px solid #888888; }
    .footer__shop--title h2 {
      word-spacing: 3px;
      font-size: 1.7rem; }
  .footer__shop--list {
    padding-top: 2.8rem; }
    .footer__shop--list li {
      padding-bottom: 1.4rem;
      font-size: 14px;
      color: #888888; }
  .footer__bottom {
    border-top: 1px solid #888888;
    padding-top: 0.2rem; }
    .footer__bottom__content {
      padding: 2.2rem 0;
      display: flex;
      justify-content: space-between; }
    .footer__bottom .footer__bottom--left {
      font-size: 14px;
      color: #888888; }
      .footer__bottom .footer__bottom--left path {
        color: red; }
      .footer__bottom .footer__bottom--left span {
        color: white; }
    .footer__bottom .footer__bottom--right {
      display: flex;
      font-size: 2rem;
      color: #888888; }
      .footer__bottom .footer__bottom--right li {
        padding: 0 0 0 1rem; }

/*# sourceMappingURL=main.css.map */
