.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.headerTop {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header {
    transition: 0.5s;
    background-color: white;
    border-bottom: 1px solid #c0c0c093;
    white-space: nowrap;
    font-family: $monster;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    &__logo {
        letter-spacing: 13px;
        border: 2px solid #000;
        font-weight: bold;
        color: black;
        h2 {
            font-size: 2rem;
            padding: 1rem 1.4rem;
        }
    }
    nav {
        display: flex;
        justify-content: center;
        flex: 1;
    }
    &__menu {
        padding: 3.5rem 0 3.3rem 0rem;
        display: flex;
        .menu--list a {
            padding: 1.3rem 2.8rem;
            color: rgb(0, 0, 0);
            font-family: $monster;
            font-weight: bold;
            font-size: 14px;
        }
    }
    &__cart {
        display: flex;
        align-items: center;
        font-size: 2.8rem;
        li {
            padding: 0 0.5rem;
        }
    }
}

//  ===================responsive===================
@include min-breakpoint(1200) {
    .header {
        padding: 0 3rem;
    }
    .container {
        max-width: 1170px;
    }
}

@include min-breakpoint(992) {
    .headerTop .navMenu {
        background-color: $black;
    }
    .navMenu {
        .header__cart {
            color: white;
        }
        .header__menu {
            .menu--list a {
                color: rgb(255, 255, 255);
            }
        }
        .header__logo {
            border: 2px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
        }
    }
}

@include breakpoint(1199) {
    .header {
        &__logo {
            letter-spacing: 8px;
            h2 {
                font-size: 1.6rem;
                padding: 1rem 1.1rem;
            }
        }
        &__menu {
            .menu--list a {
                padding: 1.2rem 1.5rem;
            }
        }
        &__cart {
            font-size: 2rem;
        }
    }
}

@include breakpoint(1023) {
    .header {
        &__logo {
            letter-spacing: 8px;
        }
        &__menu {
            .menu--list a {
                font-size: 12px;
                padding: 1.2rem 0.8rem;
            }
        }
    }
}

.humberger {
    display: none;
}

@include breakpoint(991) {
    .header {
        position: relative;
        background-color: $black;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem;
        &__logo {
            border: 2px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
        }
        .header__menu {
            border-top: 1px solid rgb(255, 255, 255);
            left: 0;
            position: absolute;
            top: 100%;
            padding: 0;
            max-height: 0;
            overflow: hidden;
            width: 100%;
            flex-direction: column;
            background-color: $black;
            transition: all ease-in 0.3s;
            .menu--list {
                padding: 1rem 0.2rem;
            }
            .menu--list a {
                padding: 2rem 2.5rem;
                color: rgb(255, 255, 255);
            }
        }
        .show__menu {
            padding: 3.3rem 0;
            max-height: 100vh;
        }
        .header__cart {
            position: absolute;
            right: 1rem;
            top: 50%;
            color: white;
            transform: translateY(-50%);
            .humber {
                svg {
                    font-size: 2.5rem;
                }
                .humberger {
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
}