.news {
    background-image: url(../images/bg.png);
    padding: 8.5rem 0 6.8rem 0;
    &__title {
        text-align: center;
        padding-bottom: 5.5rem;
        h5 {
            letter-spacing: 5px;
            font-size: 13px;
            color: $purple;
        }
        h2 {
            padding: 0.3rem 0 2rem 0;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.4rem;
            word-spacing: 3px;
            letter-spacing: 2px;
        }
    }
    &__line {
        margin: 0 auto;
        width: 5rem;
        height: 2px;
        background-color: $purple;
    }
    &__card {
        background-color: white;
        .news__info {
            padding: 1.2rem 2rem 0.8rem 2rem;
            border-bottom: 1px solid #9999994d;
            h4 {
                cursor: pointer;
                font-size: 1.6rem;
                text-transform: lowercase;
                &::first-letter {
                    text-transform: uppercase;
                }
                &:hover {
                    color: $purple;
                }
            }
            p {
                color: #424242;
                line-height: 1.5;
                padding-top: 1.5rem;
                font-size: 15px;
            }
        }
        .news__coments {
            display: flex;
            font-size: 14px;
            color: #999999;
            padding: 1.2rem 2rem;
            li {
                font-weight: 500;
                display: flex;
                padding: 0.3rem;
                padding-right: 2.2rem;
                h4 {
                    margin-left: 0.2rem;
                }
            }
        }
    }
    .owl-theme .owl-dots {
        padding-top: 1rem;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background-color: $purple;
        transform: scale(1.3);
    }
}